*, *::before, *::after{
    box-sizing: inherit;
}

html{
    box-sizing: border-box;
    font-size: 62.5%;
}

:root{
    --primary-clr: #F3EED9;
    --secondary-clr: #824936;
    --tertiary-clr: #222C2A;

    --fs-big: 6rem;
    --fs-regular: 3.6rem;
    --fs-small: 2.1rem;
    --fs-smallest: 1.8rem;

    --ff-primary: 'Roboto', sans-serif;
    --ff-secondary: 'Playfair Display', serif;
}

body {
    font-family: var(--ff-primary);
    font-size: var(--fs-small);
    margin: 0;
    line-height: 1.6;
}

h1, h2, .header__subtitle{
    margin-top: 0;
}

img{
    max-width: 100%;
}

.wrapper{
    width: 85%;
    max-width: 1000px;
    margin: 0 auto;
}

.center{
    text-align: center;
}

.header__subtitle{
    text-transform: uppercase;
    letter-spacing: 3px;
}

.header__title, .section__title{
    font-family: var(--ff-secondary); 
}

.header__title{
   color: var(--secondary-clr);
}


header{
    background-color: var(--primary-clr);
    min-height: 660px;
    display: flex;
    align-items: center;
}

.section{
    padding: 4rem 0;
}

.section--black, .section--brown{
    color:var(--primary-clr);
}

.section--black{
    background-color: var(--tertiary-clr);
}

.section--brown{
    background-color: var(--secondary-clr);
}

.section__title--accent{
    color: var(--secondary-clr);
}

@media (min-width: 700px){
    .header__title{
        font-size: var(--fs-big);
    }

    .row{
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }

    .section__img{
       width:45%;
    }

    .section__text{
        width:50%;
    }

    .column + .column{
        margin-left: 5rem;
    }
  
}

